<div class="flex items-center justify-center h-screen bg-black p-1">
  <div class="w-3/4 h-2/4 overflow-hidden relative rounded-lg shadow-lg shadow-yellow-500/20 border border-yellow-600">
    <!-- Main Slider Container -->
    <div class="w-full h-full relative">
      <img 
        *ngFor="let slide of slides; let i = index"
        [src]="slide.img"
        [alt]="slide.alt"
        class="absolute w-full h-full object-cover transition-opacity duration-1000"
        [ngClass]="{
          'opacity-100 z-10': i === currentSlide,
          'opacity-0 z-0': i !== currentSlide
        }"
      />
    </div>
    
    <!-- Navigation Arrows -->
    <button 
      (click)="previousSlide()"
      class="absolute left-4 top-1/2 transform -translate-y-1/2 bg-black/50 hover:bg-black/70 text-yellow-400 w-10 h-10 rounded-full flex items-center justify-center transition-all duration-300 z-20"
    >
      <i class="fas fa-chevron-left"></i>
    </button>
    
    <button 
      (click)="nextSlide()"
      class="absolute right-4 top-1/2 transform -translate-y-1/2 bg-black/50 hover:bg-black/70 text-yellow-400 w-10 h-10 rounded-full flex items-center justify-center transition-all duration-300 z-20"
    >
      <i class="fas fa-chevron-right"></i>
    </button>
    
    <!-- Slide Indicators -->
    <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2 z-20">
      <button 
        *ngFor="let slide of slides; let i = index"
        (click)="goToSlide(i)"
        class="w-3 h-3 rounded-full transition-all duration-300"
        [ngClass]="{
          'bg-yellow-400': i === currentSlide,
          'bg-white/50 hover:bg-white': i !== currentSlide
        }"
      ></button>
    </div>
  </div>
</div>




