@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loader {
  width: 60px;
  height: 60px;
  border: 5px solid #ccc;
  border-top-color: gold;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
