/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make toastr appear on top of all content */
#toast-container {
  z-index: 999999 !important;
}


body {
  overflow: visible;
  /* position: relative; */
}


/* ✅ For Google Chrome and Chromium browsers */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
